/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 déc. 2017, 15:30:48
    Author     : olivier
*/

.menu:hover{
  /*-fx-font-weight: bold;*/
  -fx-text-fill: #fff;
}

Label{
   -fx-text-fill: #888; 
}

.fond{
    -fx-background-color: #444;
}

Line{
    -fx-stroke: #888;
}

#curseur{
    -fx-fill: #888;
}

#centerable:hover{
  /*-fx-font-weight: bold;*/
  -fx-text-fill: #fff;
}